## Java
*.iml
.gradle
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/android/gen/
*.ipr
*.iws
/android/build/
/desktop/build/
/opencv-java/build/
/android/assets/
classes/
tmp/
libs/
debug/
release/
build/