## Java
*.iml
.gradle
.idea
.externalNativeBuild
*.ipr
*.iws
/android/assets/
libs/
debug/
release/
build/
/local.properties
gradle/
/gradle.properties
/gradlew
/gradlew.bat
/android/project.properties
